@using HotelManagementSystem.Data;
@{
    ViewData["Title"] = "Edit Room";
}
@model Room
<h2>Edit Room @Model.Number</h2>
<hr>
<blockquote>
    <form asp-action="Edit" asp-controller="Room" method="post">
        <input type="hidden" value="@Model.Id" name="Id"/>
        <label>Number: </label>
        <input type="number" placeholder="Enter a number" asp-for="Number" value="@Model.Number">
        <hr>
        <label>Type: </label>
        <input type="text" placeholder="Enter the type" asp-for="Type" value="@Model.Type">
        <hr>
        <label>Status: </label>
        <input type="text" placeholder="Enter the status" asp-for="Status" value="@Model.Status">
        <hr>
        <label>Is Active: </label>
            <input type="checkbox" placeholder="Is Active" asp-for="IsActive" checked="@Model.IsActive">
        <hr>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</blockquote>