@using HotelManagementSystem.Data;
@{
    ViewData["Title"] = "Room Management";
}
@model (List<Room> rooms, RoomSearchViewModel searchVM)
<form>
    <input type="submit" value="Back" onclick="history.back" />
    <input type="submit" value="Forward" onclick="history.forward" />
</form>
<center><h1>Room Management</h1></center>
<hr />
<h5>Filter</h5>
<div>
    <p>
        <form asp-action="Index" asp-controller="Room" method="get">
            Number: <input value="" type="number" name="Number"><br /> <!-- input value-sh Model.searchVM.Number bood ke bardashtamesh -->
            Type: <select name="Type">
                <option value="" selected></option>
                <option value="@RoomType.Single">Single</option>
                <option value="@RoomType.Double">Double</option>
                <option value="@RoomType.Deluxe">Deluxe</option>
                <option value="@RoomType.Suite">Suite</option>
            </select><br />

            Status: <select name="Status">
                <option value="" selected></option>
                <option value="@RoomStatus.Unoccupied">Unoccupied</option>
                <option value="@RoomStatus.Reserved">Reserved</option>
                <option value="@RoomStatus.Assigned">Assigned</option>
            </select><br />

            IsActive: <select name="IsActive">
                <option value="" selected>All</option>
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select><br />

            Sort By: <select name="SortBy">
                <option value="" selected"></option>
                <option value="@RoomSortBy.Number">Number</option>
                <option value="@RoomSortBy.Type">Type</option>
                <option value="@RoomSortBy.Status">Status</option>
                <option value="@RoomSortBy.IsActive">Active</option>
            </select>
            <br /><br />
            <button type="submit">Search</button>
            <button type="reset">Clear</button>
        </form>
    </p>
</div>

<hr />
<div class="text-center">
    <table class="table" style="width:100%">
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Status</th>
            <th>Active</th>
            <th>Operation</th>
        </tr>

        @{
            foreach (var item in Model.rooms)
            {
                <tr>
                    <td>@item.Number</td>
                    <td>@item.Type</td>
                    <td>@item.Status</td>
                    <td>@item.IsActive</td>
                    @if (item.IsActive == true)
                    {
                        <td>
                            <a class="btn btn-outline-warning" asp-route-id="@item.Id" asp-controller="Room" asp-action="Details">Details</a>
                            <a class="btn btn-outline-warning" asp-route-id="@item.Id" asp-controller="Room" asp-action="Edit">Edit</a>
                            @if (item.Status == RoomStatus.Unoccupied)
                            {
                                <a class="btn btn-outline-warning" asp-route-id="@item.Id" asp-controller="Room" asp-action="Reserve">Reserve</a>
                                <a class="btn btn-outline-warning" asp-route-id="@item.Id" asp-controller="Room" asp-action="Assign">Assign</a>

                                <!-- <a class="btn btn-outline-warning" asp-route-id=@item.Id asp-controller="Room" asp-action="Operation">Operation</a> -->
                            }
                            @if (item.Status == RoomStatus.Assigned || item.Status == RoomStatus.Reserved)
                            {
                                <a class="btn btn-outline-warning" asp-route-id="@item.Id" asp-controller="Room" asp-action="Empty">Empty</a>
                            }
                        </td>
                    }
                    @if (item.IsActive == false)
                    {
                        <td><a class="btn btn-outline-warning" asp-route-id="@item.Id" asp-controller="Room" asp-action="Edit">Edit</a></td>
                    }
                </tr>
            }
        }
    </table>

    <hr />
    <h2>Demo Section</h2>
    <input type="button" value="Load Customer Page" onclick="loadDoc()" />
</div>